* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
}

#text-field {
  flex: 1;
  background: transparent;
  resize: none;
  outline: none;
  border: none;
  margin: 0;
  padding: 7.5% 2%;
  font: 1.1rem system-ui, sans-serif;
  line-height: 1.8;
  opacity: 0.8;
}

@media screen and (width >= 960px) {
  #text-field {
    padding-left: 28.5%;
    padding-right: 28.5%;
  }  
}

@media screen and (width >= 768px) and (width < 960px) {
  #text-field {
    padding-left: 20%;
    padding-right: 20%;
  }  
}